.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  justify-content: space-between;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background: #0079bf;
  width: 100%;
  font-family: "Charlie Text", sans-serif;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.login {
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 3.2px;
  border-bottom-right-radius: 3.2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 3.2px;
  border-top-right-radius: 3.2px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: "Charlie Text", sans-serif;
  font-size: 17.5px;
  font-weight: 400;
  height: 36px;
  line-height: 26.25px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  user-select: none;
  vertical-align: middle;
}

.signup {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 3.2px;
  border-bottom-right-radius: 3.2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 3.2px;
  border-top-right-radius: 3.2px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(0, 121, 191);
  cursor: pointer;
  display: inline-block;
  font-family: "Charlie Text", sans-serif;
  font-size: 17.5px;
  font-weight: 550;
  height: 36px;
  line-height: 26.25px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-align: center;
  text-decoration-color: rgb(0, 121, 191);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 81.6406px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  align-items: center;
  font-size: 35px;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 26.25px;
  color: rgb(255, 255, 255);
}

.brand {
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  vertical-align: middle;
}

a.brand {
  font-family: "Pacifico", cursive;
}
