.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  margin-top: 24px;
  padding: 24px;
}

.window-up .window-overlay {
  display: flex;
}

.window-overlay {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.64);
  height: 100%;
  justify-content: center;

  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

/* @media only screen and (max-width: 750px) {
  .window-overlay {
    position: absolute;
  } */

.window-up {
  background-image: none;

  height: 100%;

  background-color: #f4f5f7;
  position: relative;
  z-index: 0;
  overflow: hidden;

  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  margin: 0;
}

.window-child {
  /* position: absolute;
  /* display: flex; */
  /* width: auto;
  z-index: 25;
  justify-content: center; */
  background-color: rgb(244, 245, 247);
  border-radius: 2px;
  margin: 48px 120px 80px 270px;

  overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 25;
  min-height: 600px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media only screen and (max-width: 750px) {
  .window-child {
    margin: 36px 8px;
    width: 100%;
  }
}

.newboard {
  background-color: aqua;
  box-sizing: border-box;
  height: 96px;
  margin: 0;
  padding: 10px 10px 10px 16px;
  position: relative;
  width: 296px;
  border-radius: 3px;
  display: block;
}

#formButton {
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 50px 1px 50px -13px;
  margin-bottom: 8px;
  padding: 6px 12px;
  text-align: center;
  background: none;
  height: auto;
  width: auto;
  vertical-align: top;
  background: turquoise;
  color: white;
  cursor: pointer;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#subtleStyle {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  min-height: 0;
  outline: 0;
  padding: 2px 8px;
}

.boardWrapper {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 20px;
}

.boardWrapper ::selection {
  background: transparent;
}
